{% extends 'base.html.twig' %}

{% block title %}Liste des tickets{% endblock %}

{% block body %}
    <h1>Liste des tickets</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>object</th>
                <th>Created At</th>
                <th>Status</th>
            </tr>
        </thead>     
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <th scope="row">{{ ticket.id }}</th>
                    <td>{{ ticket.object }}</td>
                    <td>{{ ticket.createAt | date('d/m/y H:i') }}</td>
                    <td>{{ ticket.isActive }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
